body{
    margin: 0;
    padding: 0;
}
.main{
    width:100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: black;
    color: chocolate;
}
.timer{
    width: 200px;
    height: 200px;
    border-radius: 50%;  
    box-shadow: 0 0 50px rgb(146,240,216);
    align-items: center;
    justify-content: center;
    display: flex;
    background:black ;
    color: chocolate;
}
.action-button{
    width:50px;
    height: 50px;
    border-radius: 50%;
    background-color: #4CAF50; /* Green */
    box-shadow: 0 0 50px rgb(208, 93, 11);
    color: chocolate;
    align-items: center;
    justify-content: center;
 
   margin-left: 10px;
   
   
}